html {
  font-family: Merriweather, serif;
  background-color: #f2f2f2;
}

.grey {
  border-radius: 8px;
  background-color: #ccc;
  border: #666;
  color: #333;
}

.red {
  border-radius: 8px;
  background-color: #f2bcbc;
  border: #b92828;
  color: #991919;
}

.green {
  border-radius: 8px;
  background-color: #d1e0bf;
  border: #6b7e54;
  color: #51603f;
}

.blue {
  border-radius: 8px;
  background-color: #d2d6f0;
  border: #1d38da;
  color: #38448e;
}
